auto/
*.toc
*.aux
*.log
*.swp
*.fdb_latexmk
*.fls
wallcalendar.zip
doc/wallcalendar.pdf
doc/wallcalendar-code.pdf
doc/_minted-wallcalendar/
doc/_minted-wallcalendar-code/
doc/examples/i18n/
doc/examples/mwe.*
doc/examples/wallcalendar.cls
doc/examples/cal-burst/doc_data.txt
doc/examples/diff-old/*.pdf
doc/examples/diff-old/doc_data.txt
doc/examples/diff-new/*.pdf
doc/examples/diff-new/doc_data.txt
doc/examples/diff-compare/*.jpg
doc/examples/diff-compare/doc_data.txt
